#Data Types and Structures Assignment
##Theoretical Questions
###1. What are data structures, and why are they important?
- Data structures are ways to organize and store data in a computer so it can be used efficiently. They’re important because the right structure makes programs faster, easier to maintain, and more memory-efficient. Examples: lists, dictionaries, sets, tuples.

###2. Difference between mutable and immutable data types with examples:

- Mutable: Can be changed after creation. Example: list1 = [1, 2]; list1[0] = 10 = [10, 2].

- Immutable: Cannot be changed after creation. Example: str1 = "hi"; str1[0] = "H" is error.

###3. Main differences between lists and tuples in Python:

- Lists: Mutable, use square brackets [], slower, more flexible.

- Tuples: Immutable, use parentheses (), faster, good for fixed data.

###4. How dictionaries store data:
- Dictionaries store data as key–value pairs using a hash table. The key is hashed into an index, and the value is stored at that index for fast lookup.

###5. Why use a set instead of a list in Python?
- Sets automatically remove duplicates and allow fast membership checks (in). Perfect when you need unique items only.

###6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters (immutable). A list can store any type of objects and is mutable. You can change list elements but not string characters.

###7. How tuples ensure data integrity in Python?
- Because tuples are immutable, their data can’t be changed after creation, preventing accidental modifications.

###8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table maps keys to values using a hash function for quick lookups. Python dictionaries are built using hash tables.

###9. Can lists contain different data types in Python?
- Yes. Example: my_list = [1, "hello", 3.5, True].

###10. Why are strings immutable in Python?
- Strings are immutable for efficiency and security — Python can store and reuse them safely without unexpected changes.

###11. What advantages do dictionaries offer over lists for certain tasks?
- Advantages of dictionaries over lists for certain tasks:
Faster lookups by key
More descriptive data access (using names instead of indexes)

###12. Describe a scenario where using a tuple would be preferable over a listP
- Scenario where a tuple is preferable over a list:
Storing coordinates (x, y), RGB color values, or config settings that shouldn’t change.

###13. How sets handle duplicate values in Python?
- Sets ignore duplicates automatically. {1, 2, 2} → {1, 2}.

###14. How the “in” keyword works differently for lists and dictionaries?

- List: Checks if the value is in the list.

- Dictionary: Checks if the value exists as a key, not a value.

###15. Can you modify elements of a tuple? Explain Why or why not?
- No, tuples are immutable — once created, their contents cannot change.

###16.What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary.
- students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

###17. Describe the time complexity of accessing elements in a dictionary?
- Time complexity of accessing elements in a dictionary:
Average case: O(1) (constant time) because of hash table lookups.

###18. In what situations are lists preferred over dictionaries?
- Situations where lists are preferred over dictionaries:
When order matters, or when you don’t need key–value pairing. Eg- storing a list of numbers or names.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- They store items by hash index, not insertion order. In Python 3.7+, they maintain insertion order, but it’s still not used for indexing.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.
Difference between a list and a dictionary in terms of data retrieval:
- List: Retrieve by index (position) → slower for searching.
- Dictionary: Retrieve by key → faster and more direct.




##Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it.

name= input("Enter Your name:")
print(name)

Enter Your name:Sourav
Sourav

In [ ]:
#2. Write a code to find the length of the string "Hello World".

new_str= "Hello World"
print(len(new_str))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

new= "Python Programming"
print(new[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

a= "hello"
print(a.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
b= "I like apple."
print(b.replace("apple","orange"))

I like orange.

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

a=list(range(1,6))
a

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

new_list= [1,2,3,4]
new_list.append(10)
print(new_list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list1= [1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list2= ['a', 'b', 'c', 'd']
list2[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list3= [10, 20, 30, 40, 50]
list3[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1= (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2= ('red', 'green', 'blue', 'yellow')
tuple2[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3= (10, 20, 5, 15)
minimum_number = min(tuple3)
print(minimum_number)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
cat_tuple= ('dog', 'cat', 'rabbit')
cat_tuple.index("cat")

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits= ('apple', "kiwi", "banana")
if 'kiwi' in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1= {'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2= {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3= {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
new_set= {1,2,3}
new_set2= {3,4,5}
new_set.union(new_set2)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_int= {1,2,3}
set_int2= {2,3,4}
set_int.intersection(set_int2)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

new_dict= {"name": "John", "age": 25, "city": "New York"}
print(new_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

new_dict["Country"]= "USA"
new_dict

{'name': 'John', 'age': 25, 'city': 'New York', 'Country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary= {'name': 'Alice', 'age': 30}
a= dictionary.get("name")
print(a)

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

new_dict2= {'name': 'Bob', 'age': 22, 'city': 'New York'}
removed= new_dict2.pop('age')
print(new_dict2)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
country_dict= {'name': 'Alice', 'city': 'Paris'}

if k=="city" in country_dict:
  print(f"{k} exists in Dictionary")
else:
  print(f"{k} doesnot exists")

city exists in Dictionary

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

a = input("Enter list elements separated by spaces: ").split()
b = tuple(input("Enter tuple elements separated by spaces: ").split())
c = {}
n = int(input("How many key-value pairs for the dictionary? "))
for k in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    c[key] = value

print("List is:", a)
print("Tuple is:", b)
print("Dictionary is:", c)

Enter list elements separated by spaces: 1 apple 6
Enter tuple elements separated by spaces: 5 toy 7
How many key-value pairs for the dictionary? 2
Enter key: name
Enter value: sourav
Enter key: age
Enter value: 18
List is: ['1', 'apple', '6']
Tuple is: ('5', 'toy', '7')
Dictionary is: {'name': 'sourav', 'age ': '18'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
num= [random.randint(1,100) for i in range(5)]
print("Original:",num)

num.sort()
print("Sorted:",num)

Original: [16, 18, 58, 8, 53]
Sorted: [8, 16, 18, 53, 58]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

c=input("Enter elements for list:").split()
print(c)

print(c[3])

Enter elements for list:apple ball banana toy hi
['apple', 'ball', 'banana', 'toy', 'hi']
toy

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result

dict1= {"name":"Sourav","age":"19"}
dct2= {"country":"Japan","Citizenship":"Indian"}
copied = dict1.copy()
copied.update(dct2)
print(copied)

{'name': 'Sourav', 'age': '19', 'country': 'Japan', 'Citizenship': 'Indian'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
my_list= ["apple", "banana","mango"]
my_set= set(my_list)
print(my_set)

{'banana', 'mango', 'apple'}